<div class="container">
  <div class="row">
    <h1 class="col-md-6 col-xs-12 titleLine">PopShopRz</h1>
    <h4 class="col-md-6 col-xs-12 byLine" >Discover great shopping experiences near you!</h4>
  </div>
  <div class="row">

  </div>

<div class="card-group">
  <div class="card">
    <img class="card-front-img-top" src="/images/groceries1.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Prepared Food</h4>
      <p class="card-text">Discover popup food shops available near you.</p>
      <p class="card-text"><small class="text-muted">So buy local</small></p>
    </div>
  </div>
  <div class="card">
    <a ui-sref="usersIndex" ui-sref-active="active"><img class="card-front-img-top" src="/images/groceries2.png" alt="Card image cap"></a>
    <!-- <img class="card-front-img-top" src="/images/groceries2.png" alt="Card image cap"> -->
    <div class="card-block">
      <h4 class="card-title">Cakes</h4>
      <p class="card-text">Discover popup cake shops available near you.</p>
      <p class="card-text"><small class="text-muted">So buy local</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-front-img-top" src="/images/groceries3.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Womens Clothes</h4>
      <p class="card-text">Discover popup womens clothes shops available near you.</p>
      <p class="card-text"><small class="text-muted">So buy local</small></p>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <img class="card-front-img-top" src="/images/groceries5.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Shoes</h4>
      <p class="card-text">Discover popup Shoe shops available near you.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-front-img-top" src="/images/groceries4.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Jewellery</h4>
      <p class="card-text">Discover popup Jewellery shops available near you.</p>
      <p class="card-text"><small class="text-muted">So buy local</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-front-img-top" src="/images/sainsburylogo.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Art</h4>
      <p class="card-text">Discover popup Art shops available near you.</p>
      <p class="card-text"><small class="text-muted">So buy local</small></p>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <img class="card-front-img-top" src="/images/asdalogo.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Fresh Food</h4>
      <p class="card-text">Discover popup Fresh Food shops available near you.</p>
      <p class="card-text"><small class="text-muted">So buy local</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-front-img-top" src="/images/tescologo.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Mens clothes</h4>
      <p class="card-text">Discover popup mens clothes shops available near you.</p>
      <p class="card-text"><small class="text-muted">So buy local</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-front-img-top" src="/images/chinatownlogo.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Other</h4>
      <p class="card-text">Discover other popshop stores available near you.</p>
      <p class="card-text"><small class="text-muted">So buy local</small></p>
    </div>
  </div>
 </div>

 <!-- Footer -->
 


</div>
